@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #faf6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h4 {
    text-align: center;
    font-size: 24px;
    color: #090101;
    margin-bottom: 20px;
    font-weight: 500;
}

hr {
    margin: 15px 0;
    background-color: black;
    border: 0;
    height: 1px;
}

.field {
    width: 100%;
    margin-bottom: 15px;
}

.field label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #0c0101;
    font-weight: 500;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.field input:focus {
    border-color: #4995e6;
    background-color: #f1f8ff;
    outline: none;
}

.field input[type="button"] {
    margin-top: 15px;
    background-color: #4e9ef1;
    color:#4e9ef1;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.field input[type="button"]:hover {
    background-color: #3578e5;
}

.field input[type="button"]:active {
    background-color: #0067f0;
}

